body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #FFFDF7;
  font-weight: 300;
  background: #F9F9F1
}

h1 {
  font-size: 30px;
  color: #6E8F88;
  font-family: 'Kaushan Script', cursive;
}

p {
  color: #142533;
  display: block;
  text-align: justify;
}

h2 {
  color: #1D3447;
  font-family: 'Kaushan Script';
}

ul {
  display: block;
  list-style-type: disc;
  color: #3D518C;
}

i:hover {
  transform: scale(1.1);
  color: #B4436C;
}

a {
    color: #3D518C;
    text-decoration: none;
}

table {
  border-collapse: separate;
  border-spacing: 2px;
}

.card {
    background: white;
    padding: 50px;
    margin-bottom: 50px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
}

.text-center {
    text-align: center;
}

.container {
    width: 800px;
    margin: 30px auto;
}

.list-inline > li {
  display: inline-block;
  padding: 10px 30px;
}

.list-inline {
  padding-left: 0px
}

#image-profile {
  width: 180px;
  height: 180px;
  border: 3px solid #FFFFE3;
  border-radius: 50%;
}

#photo {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6em;
}

#photo td {
    padding: 10px;
}

.fab, .fa, .fas {
  font-size: 25px;
}

